doctype html
include ../partials/_mixins.pug
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv="Cache-control" content="public")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="image/favicon.ico")
    block title
      title crepido
    link(rel='stylesheet', type='text/css', href='global.css')
    script(src="dist.js")
  body
    block body