.nav
  #mobile-nav.title-bar(data-responsive-toggle='nav', data-hide-for='medium' style="display:none")
    button.menu-icon(type='button', data-toggle='nav')
    .title-bar-title Menu
  #nav.top-bar(data-animate="hinge-in-from-top hinge-out-from-top")
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu)
        li.menu-text Jason Registry
    .top-bar-right
      include ../partials/_search
