extends ../layouts/_default.pug
block body
  .row.align-center
    .small-12.medium-8.large-6.columns
      img(src="assets/img/jason.png", alt="Jasonette")
  .row.align-spaced
    form
      label
        | GitHub Repo
        .input-group
          span.input-group-label github.com/
          input.input-group-field(type="text" placeholder="facebook/react" required)
      p.help-text e.g. twbs/bootstrap
      fieldset.text-center.fieldset
        legend Supported Platforms
        input#checkbox-ios(type='checkbox')
        label(for='#checkbox-ios') iOS
        input#checkbox-android(type='checkbox')
        label(for='#checkbox-android') Android
      button.button.float-right(type="submit" value="Submit") Submit