.row.align-spaced
  .shrink.columns
    form#form(data-abide novalidate)
      .success.callout.small.response
        p Response
      label
        | GitHub Repo
        .input-group
          span.input-group-label github.com/
          input#repo.repo-placeholder.input-group-field(type="text" name="jr[url]" placeholder="facebook/react" required)
      p.help-text e.g. twbs/bootstrap
      button.button.float-right(type="submit" value="Submit") Submit
