.row.align-spaced
  .small-12.medium-8.large-6.columns
    form#form(data-abide novalidate)
      #error.alert.callout.small.response(style="display:none")
        p Error
      #success.success.callout.small.response(style="display:none")
        p Error
      label
        | GitHub Repo
        .input-group
          span.input-group-label github.com/
          input#repo.repo-placeholder.input-group-field(type="text" name="jr[url]" placeholder="facebook/react" required)
      p.help-text e.g. twbs/bootstrap
      input.button.float-right(type="submit" value="Submit")
