.nav
  #mobile-nav.title-bar(data-responsive-toggle='nav', data-hide-for='medium')
    button.menu-icon(type='button', data-toggle='nav')
    .title-bar-title Jason Registry
  #nav.title-bar(data-animate="hinge-in-from-top hinge-out-from-top")
    row.align-spaced.menu.simple
      .hide-for-small-only.columns
        span.title-bar-title(data-hide-for='medium') Jason Registry
      .shrink.columns
        a.nav-link(href='#') One
      .shrink.columns
        a.nav-link(href='#') Two
      .shrink.columns
        a.nav-link(href='#') Three
      .shrink.columns
        a.nav-link(href='#') Four
      .shrink.columns
        a.nav-link(href='#') Five