.nav(data-sticky-container)
  .title-bar(data-sticky data-options="marginTop:0;" style="width:100%")
    .title-bar-left
      span.title-bar-title Jason Registry
    .title-bar-right
      ul.menu.align-right.simple
        li
          a(href='#') One
        li
          a(href='#') Two
        li
          a(href='#') Three
        li
          a(href='#') Four