form(data-abide novalidate)
  #search.input-group
    input.search-input.input-group-field.search-placeholder(type='search' name="search" placeholder="find extensions" required)
    .input-group-button
      input.search.button(type='submit', value='Search')
