#repo-error {
  display: none !important;
}

#search {
  &.input-group {
    margin-bottom: 0;
  }
}

.callout {
  word-break: keep-all;
  word-wrap: break-word;
}

#error {
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    padding: 10px;
  }
  a {
    text-decoration: underline;
  }
}
